<h1>Editando a task: {{task.title}}</h1>
<form action="/tasks/update" method="post">
    <input type="hidden" value="{{task.id}}" name="id">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Escreva a sua tarefa" value={{task.title}}>
    </div>
     <div class="form-control">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Escreva uma descrição para a tarefa">{{task.description}}</textarea>
    </div>
        <input type="submit" value="Editar task">
</form>